# PostgreSQL uchun (production / tavsiya etiladi)
DATABASE_URL=postgresql+psycopg2://postgres:parol@localhost:5432/makkah_db

# Agar PostgreSQL o'rnatilmagan bo'lsa, tez sinab ko'rish uchun SQLite ham ishlaydi:
# DATABASE_URL=sqlite:///./makkah.db

APP_NAME=Makkah & Umra
DEBUG=True
